{
  "globals": {
    "window": true
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "root": true,
  "extends": "eslint-config-airbnb",
  "rules": {
    "quotes": [ 2, "double" ],
    "comma-dangle": ["error", {
        "functions": "never"
    }],
    "indent": ["error", 2],
  }
}
